
.regression {
    width: 100% !important;
    font-size: 12px;
    white-space: nowrap;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


table.table {
    width: auto ;
}
table {
      width: auto ;
	  margin: auto ;
	  border-top: 3px solid #666 ;
	  border-bottom: 3px solid #666 ;
	  margin-bottom: 20px ;
}
table thead th { 
border-bottom: 3px solid #ddd ; 
}
th, td { 
    	width: auto ;
	border: 1px solid #666 ;
	padding: 5px ; 
	height: 30px ;
	min-width: 50px ;
}

.even {  
 	background: #eee ;
} 

/* thead, tfoot, tr:nth-child(even) {  */
/* 	background: #eee ;  */
/* } */

